<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container {
  margin-top: 50px;
}
.row {
  margin: 0px auto;
  width: 960px;
}
p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>
</head>
<!-- 
    1. 반복문
      th:each="받는변수:Collection/배열"
              vo:${list}
                 ------- EL
    2. 조건문
      th:if="${조건}" th:else=""
      
    3. 출력
      [[${}]] th:text th:html ....
      
    4. for 
      ${#numbers.sequence(1,10)} => for(int i=1,i<=10;i++)
      
    5. link
      @{URL(?뒤에 들어가는 변수)}
      
    => JSP 없이 HTML을 이용해서 출력 => JSP보다 속도가 늦다  
    => Spring-Framework : 서버 / 클라이언트
    => Spring-Boot : 서버 / Front를 별도로 만들어서 처리
       ----------- Java / Kotlin    
       ----------- Java 21버전
       ----------- 웹은 Spring - Framework 와 동일               
 -->
<body>
  <!-- 
      JSP       => ?page=1
      ThymeLeaf => (id=${vo.id})
      axios     => params:{}
      ajax      => data:{}
      react     => ?page=${page}
      
      Java
      Oracle
      HTML/CSS/JavaScript => Ajax
      JSP
      Spring Framework
      Python => Numpy / Pandas / MatplotLib
      ElasticSearch
      AWS : Git, Git Action, Docker
        => MyBatis / JPA
        => MySQL
        => Vue Vuex / React Redux React-Query
        => Spring-Boot / Django
        ---------------------------------------
        => Next / NodeJS / TypeScript => 보류
        
   -->
  <div class="container">
    <div class="row">
      <div class="col-sm-3" th:each="vo:${list}"> <!-- for(BusanVO vo:list) -->
		    <div class="thumbnail">
		      <a th:href="@{/busan/detail(id=${vo.id})}">
		        <img th:src="${vo.poster}" style="width: 230px;height: 120px">
		        <div class="caption">
		          <p>[[${vo.name}]]</p>
		        </div>
		      </a>
		    </div>      
      </div>
    </div>
    <!-- 
      @{/busan/list(page=${startPage-1},no=1,curpage=2...)}
        /busan/list?page=1&no=1&curpage=2....
        
        th:each="i:${#numbers.sequence(startPage,endPage)}" == range()
        
        <c:if> <c:forEach>
         v-if   v-for
       => JSP / Vue / ThymeLeaf => 출력만  
     -->
    <div style="height: 10px"></div>
    <div class="text-center">
      <ul class="pagination">
        <li th:if="${startPage>1}"><a th:href="@{/busan/list(page=${startPage-1})}">&laquo;</a></li>
        <li th:class="${curpage==i?'active':''}" 
            th:each="i:${#numbers.sequence(startPage,endPage)}">
            <a th:href="@{/busan/list(page=${i})}">[[${i}]]</a>
        </li>
        <li th:if="${endPage<totalpage}"><a th:href="@{/busan/list(page=${endPage+1})}">&raquo;</a></li>
      </ul>
    </div>
  </div>        
</body>
</html>